﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<LibsDb.LibsEntities.DeliveryOrder>
@inject CoreApp.AppAPI.APIAuthorization authorization

<h2>Список заказов</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-lg-9" style="overflow-y: auto;">
            <div>
                <ul class="list-group">
                    @foreach (LibsDb.LibsEntities.DeliveryOrder order in Model)
                    {
                    <li class="list-group-item"
                        style="display: flex; flex-direction: column; flex-wrap: nowrap;">



                        @if (order.Deliveries != null)
                        {
                            @foreach (LibsDb.LibsEntities.DeliveryFact fact in order.Deliveries)
                            {
                                <div style="padding: 20px; width: 100%;">

                                    <h3>@fact.Literature.Description.Title</h3>
                                    <p>Вернуть до: <b>@fact.ReturnBefore.Date</b></p>
                                    <p>@fact.Literature.Description.Overview</p>
                                   
                                    <!--<span class="badge badge-primary badge-pill">1</span>-->
                                </div>
                                <a asp-controller="ReturnOrder"
                                   asp-action="Delay"
                                   asp-route-id="@fact.Literature.ID">
                                    <button class="btn btn-primary"> продлить </button>
                                </a>
                                <a asp-controller="ReturnOrder"
                                   asp-action="AddToReturnOrder"
                                   asp-route-id="@fact.Literature.ID">
                                    <button class="btn btn-primary"> вернуть </button>
                                </a>
                                <a asp-controller="ReturnOrder"
                                   asp-action="AddComment"
                                   asp-route-id="@fact.Literature.ID">
                                    <button class="btn btn-primary"> оставить комментарий </button>
                                </a>
                            }
                        }




                    </li>
                        
                    }


                </ul>
                 
            </div>
        </div>
       
    </div>
</div>

 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}