﻿@model LibsDb.LibsEntities.Lib
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Кураторы ЦБС";
}
<div>
    <p>
        <a asp-action="AddPerson" asp-route-id="@Model.ID">Добавить</a>
    </p>
    <table class="table">

        <tbody>
            @foreach (var item in Model.Curators)
            {

                @if (item.User != null && item.User.Person != null)
                {


                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Person.SurName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Person.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Person.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Person.Birthday)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Person.Tel)
                        </td>
                        <td>
                       

                            <a asp-action="DeleteCurator" asp-route-id="@item.User.ID">Удалить</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>