﻿@model ASpbLibs.Areas.SuperviserFace.Views.Libs.CuratorRegistrationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <h4>Назначить куратора</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-area="SuperviserFace" asp-controller="Libs" asp-action="AddPerson">
                <input asp-for="LibID" hidden class="form-control" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SurName" class="control-label"></label>
                    <input asp-for="SurName" class="form-control" />
                    <span asp-validation-for="SurName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birthday" class="control-label"></label>
                    <input asp-for="Birthday" class="form-control" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tel" class="control-label"></label>
                    <input asp-for="Tel" id="TelInput" oninput="onTelInput(event)" class="form-control" />
                    <span asp-validation-for="Tel" class="text-danger"></span>
                </div>
                <script>
                    var temp = document.getElementById("TelInput").value;
                    function onTelInput(evt) {
                        var s = '';
                        var v = evt.target.value;
                        for (let i = 0; i < v.length; i++) {
                            if ("0123456789".indexOf(v[i]) != -1) {
                                s += v[i];
                                if (s.length > 13) {
                                    break;
                                }
                            }

                        }
                        if (s.length > 1 && s[1] != '-') s = s.substring(0, 1) + '-' + s.substring(1)
                        if (s.length > 4 && s[5] != '-') s = s.substring(0, 5) + '-' + s.substring(5)
                        if (s.length > 8 && s[9] != '-') s = s.substring(0, 9) + '-' + s.substring(9)
                        v = s;
                        console.log(v);
                        document.getElementById("TelInput").value = v;
                    }
                </script>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
