﻿@model LibsDb.LibsEntities.Lib
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Создание библиотеки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h1> Новая библиотека </h1>


    <hr />
    <div class="row">
        <div class="col-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NameShort" class="control-label"></label>
                    <input asp-for="NameShort" class="form-control" />
                    <span asp-validation-for="NameShort" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameFull" class="control-label"></label>
                    <input asp-for="NameFull" class="form-control" />
                    <span asp-validation-for="NameFull" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>