﻿@model LibsDb.LibsEntities.Curator
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Удаление библиотки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h3>Вы действительно хотите снять назначенного куратора библиотеки?</h3>
    <div>

        <hr />
        <h3>ЦБС</h3>
        <dl class="row">


            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lib.NameShort)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lib.NameShort)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lib.NameFull)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lib.NameFull)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lib.Sigla)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lib.Sigla)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lib.Url)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lib.Url)
            </dd>
        </dl>

        <h3>Сотрудник</h3>
        <dl>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Person.SurName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Person.SurName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Person.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Person.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Person.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Person.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Person.Birthday)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Person.Birthday)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Person.Tel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Person.Tel)
            </dd>
        </dl>

        <form asp-action="DeleteCurator">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="Index">Вернуться к списку</a>
        </form>
    </div>

</div>