﻿@model LibsDb.LibsEntities.Lib
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Удаление библиотки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h3>Вы действительно хотите удалить сведения о библиотеки?</h3>
    <div>
      
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NameShort)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameShort)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NameFull)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameFull)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sigla)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sigla)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Url)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Url)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="Index">Вернуться к списку</a>
        </form>
    </div>

</div>