﻿@model LibsDb.LibsEntities.Lib
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Сведения о библиотеки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <h2> Сведения о библиотеки </h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NameShort)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NameShort)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Url)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Url)
            </dd>
        </dl>
    </div>
    <div>
        
        <h3> Кураторы  </h3>
        <partial name="_Personal" model="@Model" />


    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a> |
        <a asp-action="Index">Вернуться к списку</a>
    </div>

</div>