﻿@model LibsDb.LibsEntities.Lib
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Редактирование библиотеки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="containe">

    <h1>Редактирование библиотеки</h1>


    <hr />
    <div class="row">
        <div class="col-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="NameShort" class="control-label"></label>
                    <input asp-for="NameShort" class="form-control" />
                    <span asp-validation-for="NameShort" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameFull" class="control-label"></label>
                    <input asp-for="NameFull" class="form-control" />
                    <span asp-validation-for="NameFull" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sigla" class="control-label"></label>
                    <input asp-for="Sigla" class="form-control" />
                    <span asp-validation-for="Sigla" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
