﻿@model IEnumerable<LibsDb.LibsEntities.Lib>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Библиотеки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Библиотеки</h2>



    <p>
        <a asp-action="Create">Создать</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sigla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameShort)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sigla)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameShort)
                        <div>
                            @Html.DisplayFor(modelItem => item.Url)
                        </div>
                    </td>

                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                        <a asp-action="Details" asp-route-id="@item.ID">Перейти</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
