﻿@{
    ViewData["Title"] = "Контактная информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">   
    <h1 class="display-4"> Контактная информация </h1>   
    <p>
        Батов Константин Александрович, разработчик приложения: 
        <a href="mailto:eckumoc@gmail.com">eckumoc@gmail.com</a>
    </p>
</div>
