﻿@{
    ViewData["Title"] = "Политика конфиденциальности";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Политика конфиденциальности</h1>
    </div>
    <p style="text-indent: 35px;">
        Для реализации функций пользователей в приложении регистрируются
        персональные данные. 
        Передача персональных данных третим лицам не осуществляется.
        При прохождении процедуры регистрации пользователь полностью соглашается 
        со всеми правилами и политиками ресурса.
    </p>
</div>
