﻿@model ApplicationMVC.Views.About.ProjectDocumentationViewModel
@{
    ViewData["Title"] = "Проектная документация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject ASpbLibs.Core.Services.CRUD.CRUDProtocol proto

<div>
    <h1> Проектная документация </h1>

    <details>
        <summary>Веб-интерфейс</summary>
        @foreach (var ctrl in Model.Controllers)
        {
            <a class="nav-link text-dark" asp-area="" asp-controller='@ctrl.Name.Replace("Controller","")' asp-action="Index">@ctrl.Name</a>
        }
    </details>
    <details>
        <summary>Хранилище данных</summary>
        @foreach (var k in proto.repositories.Keys)
        {
            <a class="nav-link text-dark">@k</a>
        }
    </details>

</div>