﻿@{
    ViewData["Title"] = "Разделение ответственности";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject ASpbLibs.Core.Services.CRUD.CRUDProtocol proto

<div>
    <div class="text-center">
        <h1 class="display-4">Разделение ответственности</h1>
    </div>

    @foreach (ApplicationDb.Entities.Role role in proto.repositories["Roles"].List())
    {
        <div style="padding: 20px; width: 100%;">
            <div class="card" style="width: 100%;">
                <h4 class="card-header">
                    @role.Name
                </h4>
                <div class="card-header">
                    @role.Description
                </div>
            </div>
        </div>
    }
</div>