 body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.app-content-box {
    border-radius: 5px;
    box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.4), 0px 2px 2px 0px rgba(0, 0, 0, 0.24), 0px 2px 6px 0px rgba(0, 0, 0, 0.22);
}


