﻿@model LibsDb.LibsEntities.Holder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Выдача литературы</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-8">
            @Model.ID
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>
    <partial name="_Liters" model="@Model.Liters" />
</div>

<div>
    <a asp-action="Index">Возврат к списку</a>
</div>
