﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Активация учетной записи";
}
<div>
    <h2> Активация завершена</h2>
    <div class="validation">Активация учетной записи выполнена успешно</div><hr />
    
</div>