﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Активация учетной записи";
}
@model ApplicationMVC.Views.Account.ActivationRequireViewModel

<form method="POST">
    <h2> Активация учетной записи </h2>
    <div class="validation"> Учетная запись не активирована </div><hr />

    <!-- Email -->
    <label asp-for="ActivationKey" id="ActivationKeyLabel"></label>
    <div class="input-group">
        <input asp-for="ActivationKey"
               class="form-control"
               id="EmailInput">

    </div>
    <div>
        <span class="text-danger" asp-validation-for="ActivationKey"></span>
    </div><br />
    <div><a href="https://@Model.Email.Substring(Model.Email.IndexOf("@")+1)">Посмотреть почтовый ящик</a></div>
    <div>
        <a align="center" asp-controller="Account" asp-action="SendActivationKey">
            выслать код регистрации повторно
        </a>
    </div>
    <button class="btn btn-primary" type="submit"> выполнить активацию </button>
</form>