﻿@{
    ViewData["Title"] = "Авторизация пользователя";
}
@model ApplicationMVC.Views.Account.LoginModel
 
<!-- Вспомогательные функции -->
<script>
    function setPlaceholderFor(propertyName) {
        document.getElementById(propertyName + "Input").placeholder =
            document.getElementById(propertyName + "Label").innerHTML;
    }
    function setValidationStateFor(propertyName, validationState) {

        document.getElementById(propertyName + "Input").classList.add("is-" + validationState);
    }
</script>

 
<div class="container">
    <div class="row">
        <div class="col-8">
            <form asp-antiforgery="true">


                
                <h2 class="display-4"><i class="material-icons" style="font-size: 55px;">person</i> Авторизация </h2>
                <p style="text-indent: 25px;">
                    Для авторизации приложите читательский или служебный билет к считывающему устройству, либо введите учетные данные.
                </p>
               

                <div class="validation" style="color: red;" asp-validation-summary="All"></div>


                <!-- Email -->
                <label asp-for="Email" id="EmailLabel"></label>
                <div class="input-group">
                    <input asp-for="Email"
                           class="form-control is-@Model.EmailValidationState"
                           id="EmailInput">
                    <script>setPlaceholderFor("Email");</script>
                </div>
                <div>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div><br />

                <!-- Password -->
                <label asp-for="Password" id="PasswordLabel"></label>
                <div class="input-group">

                    <input asp-for="Password"
                           class="form-control is-@Model.PasswordValidationState"
                           id="PasswordInput">
                    <script>setPlaceholderFor("Password");</script>
                </div>
                <div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div><br />
                <div class="input-group">
                    <div class="g-recaptcha" data-sitekey="6Lc-MeMZAAAAAFy2KYk4UH-ZX1TJdsu6wvVLAyfY"></div>
                </div>
                <div class="text-danger">
                    @if (TempData["recaptcha"] != null)
                    {
                        <p>@TempData["recaptcha"]</p>
                    }
                </div>


                <div><a asp-controller="Account" asp-action="Registration">У меня нет учетной записи</a></div>
                <div><a asp-controller="Account" asp-action="Restore">Я не помню пароль</a></div>
                <div><span class="text-danger"> @Model.ErrorMessage </span></div><br />

                <button class="btn btn-primary" type="submit"> Вход </button>
            </form>

        </div>
        <div class="col-4">
            <content>
                <img src="~/card.png" style="width: 225px; height: 225px;"/>
            </content>
        </div>
    </div>
</div>
