﻿@{
    ViewData["Title"] = "Регистрация пользователя";
}
@model ApplicationMVC.Views.Account.RegistrationModel


<div class="text-center">
    <h1 class="display-4">Регистрация завершена</h1>
    <p>На вашу электронную почту отправлено письмо с ссылкой для активации учетной записи.</p>
    <div><a asp-controller="Account" asp-action="Login">На страницу авторизации</a></div>
</div>