﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    
}

@model ApplicationMVC.Views.Account.RestoreModel

<!-- Вспомогательные функции -->
<script>
    function setPlaceholderFor(propertyName) {
        document.getElementById(propertyName + "Input").placeholder =
            document.getElementById(propertyName + "Label").innerHTML;
    }
    function setValidationStateFor(propertyName, validationState) {

        document.getElementById(propertyName + "Input").classList.add("is-" + validationState);
    }
</script>


<form asp-antiforgery="true">

    <h2> Восстановление доступа </h2>
    <div class="validation" style="color: red;" asp-validation-summary="All"></div>

    <p> На @Model.Email отправлено письмо с дальнейшими инструкциями </p>

    <div><a asp-controller="Account" asp-action="Login">Выполнить вход</a></div>
    <div>
        <span class="text-danger"> @Model.ErrorMessage </span>
    </div><br />

    <button class="btn btn-primary" type="submit"> Восстановить </button>
</form>

