﻿@inject CoreApp.AppAPI.APIAuthorization authorization
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/favicon.ico">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta name="description" content="">
    <meta name="author" content="eckumoc@gmail.com">
    <title> @ViewData["Title"] </title>
</head>

<body>
    <div style="width: 100%; height: 100%; display: -webkit-flex; display: flex; flex-direction: column;">
        <div style="width: 100%;">
            <button style="width: 100%; height: 100%;">top</button>
        </div>
        <div style="width: 100%; height: 100%; overflow-y: auto; display: -webkit-flex; display: flex; flex-direction: column;">
            <div style="width: 100%; height: 100%; display: -webkit-flex; display: flex; flex-direction: row;">
                <div style="height: 100%;">
                    <button style="width: 100%; height: 100%;">left</button>
                </div>
                <div style="width: 100%; height: 100%; display: -webkit-flex; display: flex; flex-direction: column; overflow-y: auto;">
                    <button style="width: 100%; height: 100%;">
                        @RenderBody()
                    </button>
                    
                </div>
                <div style="height: 100%;">
                    <button style="width: 100%; height: 100%;">right</button>                    
                </div>
            </div>
        </div>
        <div style="width: 100%;">
            <button style="width: 100%; height: 100%;">bottom</button>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html> 