﻿@{
    ViewData["Title"] = "Главная страница";
}

 
@inject CoreApp.AppAPI.APIAuthorization authorization

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title> @ViewData["Title"] </title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
</head>

<body>

    <div class="d-flex flex-column flex-row p-3 px-md-4 mb-3 bg-white border-bottom box-shadow" style="width: 100%; align-items: flex-start;">
        <h5 class="my-0 mr-md-auto font-weight-normal text-center">  </h5>
        <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
            <a class="p-2 text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
            <a class="p-2 text-dark" asp-area="" asp-controller="Movies" asp-action="SeeMostPopularMovies" title="Популярность">Наиболее популярные</a>
            <a class="p-2 text-dark" asp-area="" asp-controller="Movies" asp-action="SeeTopRatedMovies" title="Наибольший рейтинг">ТОП рейтинг</a>
            @if (!authorization.IsSignin())
            {
                <div style="justify-self: flex-end; margin-left: auto;">
                    <a class="p-2 text-dark" asp-controller="Account" asp-action="Login">Авторизация</a>
                    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Registration">Регистрация</a>
                </div>
            }
            else if (authorization.Verify() != null)
            {

                <div style="justify-self: flex-end; margin-left: auto;">
                    <a class="btn btn-outline-primary" asp-controller="MarketHome" asp-action="Index" asp-area="Market">Управление магазином</a>
                    <a class="p-2 text-dark"
                       asp-area=""
                       asp-controller="Profile"
                       asp-action="Index">
                        @authorization.Verify().Account.Email
                    </a>
                </div>
            }
        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-sm-3" style="word-break: break-all;">
                <h2>Меню</h2>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" asp-controller="News" asp-action="Index" asp-area="" id="news-menuitem">
                        Новости
                    </a>
                    <a class="nav-link" asp-controller="Home" asp-action="Products" asp-area="" id="products-menuitem>
                        Товары
                    </a>
                    <a class="nav-link" asp-controller="Home" asp-action="Markets" asp-area="" id="markets-menuitem">
                        Магазины
                    </a>
                    <a class="nav-link" asp-controller="Home" asp-action="Statistics" asp-area="" id="statistics-menuitem">
                        Статистика
                    </a>                   
                </div>
            </div>
            <div class="col-sm-9" style="word-break: break-all;">
                @RenderBody()
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-6 col-md">
                    <h5>Функциональность</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" asp-page="/About/BuisnessProcess/ProcessDelivery">Комплектация торговых точек</a></li>
                        <li><a class="text-muted" asp-page="/About/BuisnessProcess/ProcessDelivery">Функции автоматизированных сделок и продаж</a></li>
                        <li><a class="text-muted" asp-page="/About/BuisnessProcess/ProcessDelivery">Экономическая оценка состояния дел</a></li>
                        <li><a class="text-muted" asp-page="/About/BuisnessProcess/ProcessStatistics">Интегральный рейтинг элементов системы</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Пользователю</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" asp-page="/About/Docs">Правила пользования</a></li>
                        <li><a class="text-muted" asp-page="/About/Docs">Руководство по применению</a></li>
                        <li><a class="text-muted" asp-page="/About/Docs">Техническая документация</a></li>
                        <li><a class="text-muted" asp-page="/About/Support">Обратная связь</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>О проекте</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" asp-page="/About/Contacts">Контактная информация</a></li>
                        <li><a class="text-muted" asp-page="/About/Contacts">Лицензионное соглашение</a></li>
                        <li><a class="text-muted" asp-page="/About/Contacts">Сертификат безопасности</a></li>
                        <li><a class="text-muted" asp-page="/About/Contacts">Политик конфиденциальности</a></li>
                    </ul>
                </div>
            </div>
          
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)



</body>
</html> 