﻿@model ASpbLibs.Views.Categories.CategoryHier
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="nav flex-column nav-pills" style="margin-left: 20px;" id="v-pills-tab" role="tablist" aria-orientation="vertical" id="p-@Model.GetPath()">
    <div class="form-check mb-2" style="display: flex; flex-direction: row; flex-wrap: nowrap; word-break: keep-all;">

        <input class="form-check-input"
               asp-for="Checked"
               type="checkbox"
               onclick="checkCategory('@Model.GetPath()')"
               id="autoSizingCheck">
        <label class="form-check-label"
               for="autoSizingCheck" contenteditable="@Model.Editable">
            @Model.GetName() <b>@Model.GetChildren().Count()</b>
        </label>

        @if (Model.Children.Count > 0)
        {
            @if (Model.Expanded == false)
            {
                <i class="material-icons" style="font: 40px;"
                   onclick="expandCategory('@Model.GetPath()')">chevron_right</i>
            }
            else
            {
                <i class="material-icons" style="font: 40px;"
                   onclick="expandCategory('@Model.GetPath()')">expand_more</i>
            }
        }
    </div>


    @foreach (var pair in Model.GetChildren())
    {
        @if (Model.Expanded == true)
        {
            <div id="category-node-@pair.Value.GetPath()">
                <partial name="_Categories" model="@pair.Value" />
            </div>
            
        }
    }
</div>


@if (Model.Parent == null)
{
    <frame id='fp-@Model.GetPath()'>

    </frame>
    <script>
      
        function expandCategory(path) {
            const req = new XMLHttpRequest();
            req.open('GET', '/Categories/Expand?key=' + path, true);
            req.onreadystatechange = function () {
                if (req.readyState == 4) {
                    document.getElementById('category-node-' + path).innerHTML = req.responseText;
                }
            }
            req.send();
        }

        function checkCategory(path) {
            const req = new XMLHttpRequest();
            req.open('GET', '/Categories/Check?key=' + path, true);
            req.onreadystatechange = function () {
                if (req.readyState == 4) {
                    document.getElementById('category-node-' + path).innerHTML = req.responseText;
                }
            }
            req.send();
        }


    </script>
}