﻿@inject ASpbLibs.Core.Services.GoogleFontsProvider gfonts
<link rel="preconnect" href="https://fonts.gstatic.com">

<link href="@gfonts.GetUrl()" rel="stylesheet">
<style>
    *{
        font-family: '@gfonts.Family', sans-serif;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">