﻿@inject ASpbLibs.Core.Services.NotificationsService notifications
@inject CoreApp.AppAPI.APIAuthorization authorization

<html lang="ru" [ng-app]="ASpbLibs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/red-logo.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="~/libs/qrcode.js"></script>
    <script src="~/libs/jquery/dist/jquery.js"></script>
    <title> @ViewData["Title"] </title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body style="width: 100%; height: 100%;">
    <div style="width: 100%; height: 100%; display: -webkit-flex; display: flex; flex-direction: column;">
        <div style="width: 100%; padding: 25px;" [hidden]="!showTop">
        
                <partial name="_PageTop" />
          
        </div>
        <div style="width: 100%; height: 100%; overflow-y: auto; display: -webkit-flex; display: flex; flex-direction: column;">
            <div style="width: 100%; height: 100%; display: -webkit-flex; display: flex; flex-direction: row;" [ngStyle]="css">
                <div style="height: 100%;" [hidden]="!showLeft">
                    <content>
                        <partial name="_PageLeft" />
                    </content>
                </div>             
                <div style="width: 100%; height: 100%; display: -webkit-flex; display: flex; flex-direction: column; overflow-y: auto; padding: 25px;">
                    @RenderBody()
                </div>             
                <div style="height: 100%;" [hidden]="!showRight">
                    <content>
                        <partial name="_PageRight" />
                    </content>
                </div>
            </div>
        </div>
        <div style="width: 100%;" [hidden]="!showBottom">
            <partial name="_PageBottom" />
        </div>
    </div>

    <script src="~/libs/jquery/dist/jquery"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/angular/angular.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/annotations/$context.js"></script>
    <script src="~/js/annotations/controller.js"></script>
    <script src="~/js/annotations/component.js"></script>
    <script src="~/js/components/search.js"></script>

    <script src="~/js/app-root.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

