﻿@model List<dynamic>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item"
            style="display: flex; flex-direction: row; flex-wrap: nowrap;">

            <div style="padding: 20px; width: 100%;">
                <div style="float: right; font-size: 20px;">
                    @item.Overview
                </div>
                <p style="font-size: 22px;">@item.Title</p>
            </div>
        </li>
    }
</ul>      