﻿<a class="nav-link"
   asp-area="ComplectatorFace"
   asp-controller="Complectator"
   asp-action="ComplectatorHome">
    Домашняя
</a>
<!--
<a class="nav-link"
   asp-area="ComplectatorFace"
   asp-controller="ComplectatorLiters"
   asp-action="Index">
    Литература
</a>
-->
<a class="nav-link"
   asp-area="ComplectatorFace"
   asp-controller="LiterDescriptions"
   asp-action="Index">
    Литература
</a>
