﻿<div style="justify-self: flex-end; margin-left: auto;">
    <a class="p-2 text-dark" asp-controller="Account" asp-action="Login">Авторизация</a>
    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Registration">Регистрация</a>
</div>