﻿<!--
<a class="nav-link"
   asp-area="SuperviserFace"
   asp-controller="Superviser"
   asp-action="SuperviserHome">
    Сводки
</a>
-->
<a class="nav-link"
   asp-area="SuperviserFace"
   asp-controller="Libs"
   asp-action="Index">
    Библиотечные системы
</a>