﻿<a class="nav-link" asp-area="ReaderFace" asp-controller="Liters" asp-action="Index">
    Поиск литературы
</a>
<a class="nav-link" asp-area="ReaderFace" asp-controller="DeliveryOrder" asp-action="Index">
    Оформить заказ
</a>
<a class="nav-link" asp-area="ReaderFace" asp-controller="DeliveryFacts" asp-action="NewOrder">
    Подлежит возврату
</a>