﻿<a class="nav-link" asp-controller="User" asp-action="UserHome" asp-area="UserFace"> Домашняя </a>
<a class="nav-link" asp-controller="Groups" asp-action="UserGroups" asp-area="UserFace"> Группы </a>
<a class="nav-link" asp-controller="People" asp-action="UserPeople" asp-area="UserFace"> Пользователи </a>
<a class="nav-link" asp-controller="Resources" asp-action="UserResource" asp-area="UserFace"> Загрузки </a>