﻿@inject ASpbLibs.Core.Services.PageLayoutService layout
@inject CoreApp.AppAPI.APIAuthorization authorization
 
<div id="id-left-side">
    @if (authorization.IsSignin())
    {        
        @if (layout.GetModel().ShowRight)
        {
            @foreach (Common.CommonTypes.PartialComponent component in layout.GetModel().Right)
            {
                <partial name="@component.View" model="@component.Model" />
            }
        }
    }
</div>