﻿<!-- footer -->
<div class="container" align="center">

    <div class="row border-top box-shadow">
        <div class="col-6">
            <h5>Функции</h5>


            <ul class="list-unstyled text-small">
                <li><a class="text-muted" asp-area="" asp-controller="Account" asp-action="LoginAsAdmin">Администратор</a></li>      
                <li><a class="text-muted" asp-area="" asp-controller="LibsAccount" asp-action="LoginAsSuperviser">Супервайзер</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="LibsAccount" asp-action="LoginAsComplectator">Комплектатор</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="LibsAccount" asp-action="LoginAsReader">Читатель</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="LibsAccount" asp-action="LoginAsCurator">Куратор</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="LibsAccount" asp-action="LoginAsReception">Ресепшен</a></li>
            </ul>
        </div>
        <div class="col-6">
            <h5>Пользователю</h5>
            <ul class="list-unstyled text-small">

                <li><a class="text-muted" asp-area="" asp-controller="About" asp-action="SeparationOfResponsibilities">Разделение ответственности</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="About" asp-action="PrivacyPolicy">Политика конфиденциальности</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="About" asp-action="ContactInformation">Контактная информация</a></li>

            </ul>
        </div>
       
    </div>


</div>