﻿@inject ASpbLibs.Core.Services.PageLayoutService layout
@inject CoreApp.AppAPI.APIAuthorization authorization

 
<div id="id-left-side">

    @if (authorization.IsSignin())
    {        
        @if (layout.GetModel().ShowLeft)
        {
            @foreach (Common.CommonTypes.PartialComponent component in layout.GetModel().Left)
            {
                <partial name="@component.View" model="@component.Model" />
            }
        }
    }
</div>