﻿@inject CoreApp.AppAPI.APIAuthorization authorization
@inject ASpbLibs.Core.Services.NotificationsService notifications
<div style="width: 100%;">
    <inline style="padding: 10px;">
        
        <a href="javascript:ToggleLeftSide()"><i class="material-icons" style="font-size: 40px; "> menu </i></a>
        <img src="~/red-logo.png" style="width: 40px; height: 40px;" />
        <text style="font-size: 28px;" onclick="document.getElementById('home-news-id').click()"> SpbLibs </text>
      
     
        @if (authorization.Verify() != null)
        {
            <div style="justify-self: flex-start; margin-right: auto; display: flex; flex-direction: row; flex-wrap: nowrap;">
                <partial name="_Menu_@authorization.Verify().Role.Code" />
            </div>
        }
        @if (!authorization.IsSignin())
        {

            <div style="justify-self: flex-end; margin-left: auto;">
                <a class="btn text-dark" asp-controller="Account" asp-action="Login">Авторизация</a>
                <a class="btn text-dark" asp-controller="Account" asp-action="Registration">Регистрация</a>
            </div>

        }
        else if (authorization.Verify() != null)
        {

            <div style="justify-self: flex-end; margin-left: auto;">
                <inline>
                    <a class="nav-link" asp-area="UserFace" asp-controller="User" asp-action="Index" id="news-menuitem">
                        @authorization.Verify().Account.Email
                    </a>
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout" id="news-menuitem">
                        выход
                    </a>
                </inline>
            </div>

        }
    </inline>
    @foreach (var notification in notifications.GetNotifications())
    {
        @if (notification.Type == "Error")
        {
            <div class="alert alert-danger" role="alert" style="width: 100%;">
                @notification.Title
            </div>
        }
        else
        {
            <div class="alert alert-primary" role="alert" style="width: 100%;">
                @notification.Title
            </div>
        }

    }

</div>