﻿@model ASpbLibs.Application.Abstraction.SearchView.PageNavViewModel

<div>
    @if (Model.TotalPages > 1)
    {
        <nav>
            <ul class="pagination">

                @if (Model.CurrentPage != 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="SetPage" asp-route-page="@Model.PrevPage()">назад</a>
                    </li>
                }
                <div style="width: 100%; overflow-x: hidden; display: flex; flex-direction: row; flex-wrap:  nowrap;">
                    @if ((Model.CurrentPage - 3) > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="SetPage" asp-route-page="1"> 1  </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"> ... </a>
                        </li>

                    }
                    @for (int pageNumber = Math.Max(1, Model.CurrentPage - 3); pageNumber <= Math.Min(Model.TotalPages, Model.CurrentPage + 3); pageNumber++)
                    {
                        @if (Model.CurrentPage == pageNumber)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                            </li>
                        }
                    }
                    @if ((Model.CurrentPage + 4) < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link"> ... </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-action="SetPage" asp-route-page="@Model.TotalPages"> @Model.TotalPages  </a>
                        </li>

                    }
                </div>



                @if (Model.CurrentPage != Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-area="AdminFace" asp-controller="News" asp-action="SetPage"
                           asp-route-page="@Model.NextPage()">вперёд</a>
                    </li>
                }
            </ul>
        </nav>
    }

</div>