﻿@model ASpbLibs.Views.Shared.PieChartModel

<!-- pieChart -->

<div id="pieChart">
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart(data) {

            var data = google.visualization.arrayToDataTable(JSON.parse(data));
            var options = {
                title: '@Model.Title'
            };
            var chart = new google.visualization.PieChart(document.getElementById('pie-chart-div'));
            chart.draw(data, options);
        }
    </script>  
    <div id="pie-chart-div" style="width: @Model.Width; height: @Model.Height;"></div>
    <script>
        setTimeout(function () {
            drawChart('@Model.GetArrayToDataTableInJson()'.replaceAll('&#x27;',"\""));
        }, 1000);
    </script>
</div>
