﻿<p style="width: 100%;">
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: baseline; justify-content: baseline; ">
        <input class="form-control" list="inputSearchOptions" type="text"
               placeholder="Поиск" aria-label="Search" autofocus="true" #query
               style="top: 0px; left: 0px; width: 100%;">
        <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="onSearch( query.value )">поиск</button>
        <datalist id="inputSearchOptions">
            @foreach (var option in new string[] { })
            {
                <option *ngFor="let option of options" [value]="@option"> @option </option>
            }
        </datalist>
    </div>
</p>