﻿@model ASpbLibs.Views.Shared.TabsViewModel
 
<ul class="nav nav-tabs" id="myTab" role="tablist">
    @foreach (ASpbLibs.Views.Shared.TabViewModel tab in Model.Tabs)
    {
        @if (Model.Active == tab)
        {
            <li class="nav-item active">
                <a class="nav-link" id="@tab.Title-tab" data-toggle="tab" href="#@tab.Title" role="tab" aria-controls="@tab.Title" aria-selected="true">
                    @if (tab.Icon != null)
                    {
                        <i class="material-icons">@tab.Icon</i>
                    }
                    @tab.Title
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" id="@tab.Title-tab" data-toggle="tab" href="#@tab.Title" role="tab" aria-controls="@tab.Title" aria-selected="false">
                    @if (tab.Icon != null)
                    {
                        <i class="material-icons">@tab.Icon</i>
                    }
                    @tab.Title
                </a>
            </li>
        }

    }

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    @foreach (ASpbLibs.Views.Shared.TabViewModel tab in Model.Tabs)
    {
        @if (Model.Active == tab)
        {
            <div class="tab-pane fade show active" id="@tab.Title" role="tabpanel" aria-labelledby="@tab.Title-tab">
                <partial name="@tab.View" model="@tab.Model" />
            </div>
        }
        else
        {
            <div class="tab-pane fade" id="@tab.Title" role="tabpanel" aria-labelledby="@tab.Title-tab">
                <partial name="@tab.View" model="@tab.Model" />
            </div>
        }

    }

</div>