﻿<script src="~/libs/bootstrap/bootstrap.min.js"></script>
<script src="~/libs/jquery/dist/jquery.min.js"></script>
<script src="~/libs/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link href="~/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">