﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "_UserLayout.cshtml";
}


<div>
    <div> 
        <ul class="list-group" style="display: flex; flex-direction: row; flex-wrap: nowrap;">


            @foreach (string key in ((List<string>)ViewData["MessagesNav"]))
            {
                @if (key == ((string)ViewData["MessagesNavActive"]))
                {
                    <a asp-action="NavigateTo" asp-route-key="@key">
                        <li class="list-group-item d-flex justify-content-between align-items-center active" style="width: 175px; word-break: keep-all;">
                            @key
                        </li>
                    </a>
                }
                else
                {
                    <a asp-action="NavigateTo" asp-route-key="@key">
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 175px;  word-break: keep-all;">
                            @key
                        </li>
                    </a>
                }
            }
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</div>