﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div style="width: 100%; height: 100%; display: -webkit-flex; display: flex; flex-direction: row;" [ngStyle]="css">
    <div style="height: 100%;" [hidden]="!showLeft">

        <ul class="list-group" id="user-home-nav">


            @foreach (string key in ((List<string>)ViewData["Nav"]))
            {
                @if (key == ((string)ViewData["Active"]))
                {
                    <a asp-action="NavigateTo" asp-route-key="@key">
                        <li class="list-group-item d-flex justify-content-between align-items-center active" style="width: 155px; word-break: keep-all;">
                            @key
                        </li>
                    </a>
                }
                else
                {
                    <a asp-action="NavigateTo" asp-route-key="@key">
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 155px;  word-break: keep-all;">
                            @key
                        </li>
                    </a>
                }
            }
        </ul>
    </div>

     
    <div style="width: 100%; height: 100%; display: -webkit-flex; display: flex; flex-direction: column; overflow-y: auto; padding: 25px;">


        @RenderBody()


    </div>
    
</div>


