﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Личные данные";
    Layout = "_UserLayout.cshtml";
}
@model ASpbLibs.Areas.UserFace.Views.User.UserViewModel



<div>

    <div>
        <div>
            <div>
                <h2> Личные данные пользователя </h2>

                @if (Model.WaitForCardReader == false)
                {
                    @if (Model.Account.RFID == null)
                    {
                        @if (Model.Role.Code == "Reader")
                        {
                            <a class="btn btn-primary" asp-area="UserFace" asp-controller="User" asp-action="WaitForCardReader">
                                зарегистрировать читательский билет
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-area="UserFace" asp-controller="User" asp-action="WaitForCardReader">
                                зарегистрировать служебный билет
                            </a>
                        }

                    }
                    else
                    {
                        @if (Model.Role.Code == "Reader")
                        {
                            <a class="btn btn-primary" asp-area="UserFace" asp-controller="User" asp-action="WaitForCardReader">
                                сменить читательский билет
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-area="UserFace" asp-controller="User" asp-action="WaitForCardReader">
                                сменить служебный билет
                            </a>
                        }
                    }
                }
                else
                {
                    @if (Model.Role.Code == "Reader")
                    {
                        <p>
                            Приложите читательский билет к считывающему устройству
                        </p>
                    }
                    else
                    {
                        <p>
                            Приложите служебный билет к считывающему устройству
                        </p>
                    }
                  
                }
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr style="width: 100%;" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <form id="personForm" method="post">
                    <input type="hidden" asp-for="PhotoID" id="inputPhotoID">
                    <script>
                        function doUpload() {
                            console.log('doUpload');
                            const allFiles = document.getElementById("inputResource").files;
                            if (allFiles.length == 0) {
                                alert("Не выбрано ни одного файла");
                            } else {
                                console.log('upload begin');
                                var uploadResponse = upload(allFiles.item(0), 'Продукт', 'image/png');
                                console.log('upload end');
                                var response = JSON.parse(uploadResponse);
                                document.getElementById("inputPhotoID").value = response.id;
                                document.getElementById("buttonImageOfPhoto").style.backgroundImage = $"URL(/api/Resource/Use/" + response.id + ")";
                                console.log(uploadResponse);
                            }
                        }
                        function upload(file, name, mime) {
                            var request = new XMLHttpRequest();
                            request.open('POST', '/api/Resource/Create', false);
                            request.setRequestHeader("Resource-Name", name);
                            request.setRequestHeader("Mime-Type", mime);
                            request.setRequestHeader("Content-Type", "multipart/form-data");
                            request.send(file);
                            return request.responseText;
                        }
                    </script>
                    <button style="width: 220px; height: 220px;"
                            id="buttonImageOfPhoto"
                            onclick="event.preventDefault(); document.getElementById('inputResource').click();">
                        @if (Model.PhotoID != null)
                        {
                            <script>
                                document.getElementById('buttonImageOfPhoto').style.backgroundImage = 'URL(/api/Resource/Use/@Model.PhotoID)';
                            </script>
                        }
                        else
                        {

                        }

                    </button>
                    <input type="file" id="inputResource" hidden onchange="
                function doUpload() {
                    console.log('doUpload');
                    const allFiles = document.getElementById('inputResource').files;
                    if (allFiles.length == 0) {
                        alert('Не выбрано ни одного файла');
                    } else {
                        console.log('upload begin');
                        var uploadResponse = upload(allFiles.item(0), 'Product', 'image/png');
                        console.log('upload end');
                        var response = JSON.parse(uploadResponse);
                        document.getElementById('inputPhotoID').value = response.id;
                        document.getElementById('buttonImageOfPhoto').style.backgroundImage = 'URL(/api/Resource/Use/' + response.id + ')';
                        console.log(uploadResponse);
                    }
                }
                function upload(file, name, mime) {
                    var request = new XMLHttpRequest();
                    request.open('POST', '/api/Resource/Create', false);
                    request.setRequestHeader('Resource-Name', name);
                    request.setRequestHeader('Mime-Type', mime);
                    request.setRequestHeader('Content-Type', 'multipart/form-data');
                    request.send(file);
                    return request.responseText;
                }
                doUpload(); ">
                </form>
            </div>

            <div class="col-6">
                <div>
                    <div id="qrcode"></div>
                    <script type="text/javascript">
                        var qrcode = new QRCode(document.getElementById("qrcode"), {
                                            text: "/UserFace/User/@Model.ID",
                                            width: 75,
                                            height: 75,
                                            colorDark: "#000000",
                                            colorLight: "#ffffff",
                                            correctLevel: QRCode.CorrectLevel.H
                                        });
                    </script>

                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Account.Email)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Account.Email)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Person.SurName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Person.SurName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Person.FirstName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Person.FirstName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Person.LastName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Person.LastName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Person.Birthday)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Person.Birthday)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Person.Tel)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Person.Tel)
                        </dd>
                    </dl>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <a href="javascript:document.getElementById('personForm').submit()"
                       class="btn btn-primary"> сохранить </a>
                </div>
            </div>
        </div>
    </div>



</div>