﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Личные сообщения";
    Layout = "_UserMessagesLayout.cshtml";
}
@model List<ApplicationDb.Entities.Message>


<div>
    @if (Model.Count() == 0)
    {
        <p>Нет сообщений</p>
    }
    else
    {
        @foreach (ApplicationDb.Entities.Message message in Model)
        {
            <p>@message.Subject</p>
        }
    }
</div>