﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Настройки пользователя";
    Layout = "_UserLayout.cshtml";
}
@model ApplicationDb.Entities.Settings

 
<div>

    <h2 class="display-4"> Настройки пользователя</h2>
    <form asp-antiforgery="true" style="width: 100%;">

        <div class="validation" style="color: red;" asp-validation-summary="All"></div>

        <div>
            <div>

                <div class="col-6">
                    <div>
                        <div class="form-check mb-2">
                            <input class="form-check-input"
                                   type="checkbox"
                                   asp-for="SendNewsToEmail"
                                   id="autoSizingCheck">
                            <label class="form-check-label"
                                   asp-for="SendNewsToEmail"
                                   for="autoSizingCheck">
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
            <div style="justify-self: flex-end; margin-left: auto;"><button class="btn btn-primary" type="submit"> Сохранить </button></div>
        </div>

    </form>
</div>