﻿@{
    ViewData["Title"] = "Регистрация читателя";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ApplicationMVC.Views.Account.RegistrationModel

<!-- Вспомогательные функции -->
<script>
    function setPlaceholderFor(propertyName) {
        document.getElementById(propertyName + "Input").placeholder =
            document.getElementById(propertyName + "Label").innerHTML;
    }
    function setValidationStateFor(propertyName, validationState) {

        document.getElementById(propertyName + "Input").classList.add("is-" + validationState);
    }
</script>


<form asp-antiforgery="true" style="width: 100%;">

    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="display-4"> Регистрация читателя</h2>
                <div class="text-danger"> @Model.ErrorMessage </div>
                <div class="validation" style="color: red;" asp-validation-summary="All"></div>
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                
                <div>
                    <h3>Личные данные</h3>


                    <!-- SurName -->
                    <label asp-for="SurName" id="SurNameLabel"></label>
                    <div class="input-group">
                        <input asp-for="SurName"
                               class="form-control is-@Model.SurNameValidationState"
                               id="SurNameInput">
                        <script>setPlaceholderFor("SurName");</script>
                    </div>
                    <div>
                        <span class="text-danger" asp-validation-for="SurName"></span>
                    </div>


                    <!-- FirstName -->
                    <label asp-for="FirstName" id="FirstNameLabel"></label>
                    <div class="input-group">
                        <input asp-for="FirstName"
                               class="form-control is-@Model.FirstNameValidationState"
                               id="FirstNameInput">
                        <script>setPlaceholderFor("FirstName");</script>
                    </div>
                    <div>
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>


                    <!-- LastName -->
                    <label asp-for="LastName" id="LastNameLabel"></label>
                    <div class="input-group">
                        <input asp-for="LastName"
                               class="form-control is-@Model.LastNameValidationState"
                               id="LastNameInput">
                        <script>setPlaceholderFor("LastName");</script>
                    </div>
                    <div>
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>


                    <!-- Birthday -->
                    <label asp-for="Birthday" id="BirthdayLabel"></label>
                    <div class="input-group">
                        <input asp-for="Birthday"
                               class="form-control is-@Model.BirthdayValidationState"
                               id="BirthdayInput">
                        <script>setPlaceholderFor("Birthday");</script>
                    </div>
                    <div>
                        <span class="text-danger" asp-validation-for="Birthday"></span>
                    </div>


                    <!-- Birthday -->

                    <label asp-for="Tel" id="TelLabel"></label>
                    <div class="input-group">
                        <input asp-for="Tel"
                               type="text"
                               oninput="onTelInput(event)"
                               class="form-control is-@Model.BirthdayValidationState"
                               id="TelInput">
                        <script>setPlaceholderFor("Tel");</script>
                    </div>
                    <script>
                        var temp = document.getElementById("TelInput").value;
                        function onTelInput(evt) {
                            var s = '';
                            var v = evt.target.value;
                            for (let i = 0; i < v.length; i++) {
                                if ("0123456789-".indexOf(v[i]) != -1) {
                                    s += v[i];
                                    if (s.length > 13) {
                                        break;
                                    }
                                }

                            }
                            if (s.length > 1 && s[1] != '-') s = s.substring(0, 1) + '-' + s.substring(1)
                            if (s.length > 4 && s[5] != '-') s = s.substring(0, 5) + '-' + s.substring(5)
                            if (s.length > 8 && s[9] != '-') s = s.substring(0, 9) + '-' + s.substring(9)
                            v = s;
                            console.log(v);
                            document.getElementById("TelInput").value = v;
                        }
                    </script>
                    <div>
                        <span class="text-danger" asp-validation-for="Tel"></span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                
                <div>
                    <h3>Учетная запись</h3>
                    <!-- Email -->
                    <label asp-for="Email" id="EmailLabel"></label>
                    <div class="input-group">
                        <input asp-for="Email"
                               class="form-control is-@Model.EmailValidationState"
                               id="EmailInput">
                        <script>setPlaceholderFor("Email");</script>
                    </div>
                    <div>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <!-- Password -->
                    <label asp-for="Password" id="PasswordLabel"></label>
                    <div class="input-group">

                        <input asp-for="Password"
                               class="form-control is-@Model.PasswordValidationState"
                               id="PasswordInput">
                        <script>setPlaceholderFor("Password");</script>
                    </div>
                    <div>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                    <!-- Confirmation -->
                    <label asp-for="Confirmation" id="ConfirmationLabel"></label>
                    <div class="input-group">
                        <input asp-for="Confirmation"
                               class="form-control is-@Model.ConfirmationValidationState"
                               id="ConfirmationInput">
                        <script>setPlaceholderFor("Confirmation");</script>
                    </div>
                    <div>
                        <span class="text-danger" asp-validation-for="Confirmation"></span>
                    </div>
                    <hr style="width: 100%;" />
                    <div class="input-group">
                        <div class="g-recaptcha" data-sitekey="6Lc-MeMZAAAAAFy2KYk4UH-ZX1TJdsu6wvVLAyfY"></div>
                        <div>
                            @if (TempData["recaptcha"] != null)
                            {
                                <p>@TempData["recaptcha"]</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span class="text-danger"> @Model.ErrorMessage </span>
    </div>    
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
        <div style="justify-self: flex-end; margin-left: auto;">
            <button class="btn btn-primary" type="submit"> Зарегистрировать </button>
        </div>
    </div>

</form>

