﻿@model ApplicationDb.Entities.User
@using ASpbLibs
@namespace ASpbLibs
@addTagHelper *, ASpbLibs
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Сведения о читателе";
}

<h1>Сведения о читателе</h1>

<inline>


    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.SurName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.SurName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Tel)
        </dd>


    </dl>
    @if (Model.PhotoID != null)
    {
        <img src="/api/Resource/Use/@Model.PhotoID" style="width: 360xp; height: 360px;" />
    }
</inline>
<div>
    <a asp-action="Search">Вернуться к списку</a>
</div>
