﻿@model ASpbLibs.Application.Abstraction.SearchView.SearchViewModel<ApplicationDb.Entities.Person>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Поиск читателя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="width: 100%;">

    <h1>Читатели</h1>
    <p>
        <a asp-action="Create">Добавить</a>
    </p>
    <search href="@Model.GetEndpointUrl()" ng-init='query="@Model.SearchQuery"'></search>

    <div class="container">
        <div class="row">
            <div class="col-12" style="overflow-y: auto;">
                <div style="padding: 25px;">
                    @if (Model.Results != null && Model.Results.Count() > 0)
                    {
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <label asp-for="Results.First().SurName"></label>
                                    </th>
                                    <th scope="col">
                                        <label asp-for="Results.First().FirstName"></label>
                                    </th>
                                    <th scope="col">
                                        <label asp-for="Results.First().LastName"></label>
                                    </th>
                                    <th scope="col">
                                        <label asp-for="Results.First().Birthday"></label>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Results)
                                {
                                    <tr>
                                        <td>@item.SurName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.Birthday.ToShortDateString()</td>
                                        <td>
                                            
                                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">Редактировать</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Ничего не найдено</p>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <partial name="_Pagination" model="@Model" />
        </div>
    </div>


</div>

 