﻿@model ASpbLibsPublic.Views.Movies.MoviesViewModel
@{ 
    ViewData["Title"] = "Кино";
}


<div style="width: 100%;">

    <div class="container" style="width: 100%; padding: 25px;">
        <div class="row" style="width: 100%;">
       
            <search style="width: 100%;" href="/Movies"></search>
        </div>
    </div>

    <div class="container" style="width: 100%; padding: 25px;">
        <div class="row">
            <div class="col-8" style="overflow-y: auto;">
                <div>
                    <ul class="list-group">
                        @foreach (var item in Model.GetResults<ASpbLibs.Core.Services.APIS.TheMovieDatabaseAPI.MovieResult>())
                        {
                            <li class="list-group-item"
                                style="display: flex; flex-direction: row; flex-wrap: nowrap;">


                                <img style="width: 220px; height: 220px;" src="@item.GetPosterPath()" />

                                <div style="padding: 20px; width: 100%;">
                                    <h3>
                                        <span class="badge badge-primary badge-pill">1</span>
                                        @item.title
                                    </h3>
                                    <p>@item.overview</p>

                                    <a asp-action="AddToOrder" asp-route-id="@item.id">
                                        <button class="btn btn-primary"> в корзину </button>
                                    </a>
                                    
                                </div>
                            </li>

                        }

                    </ul>
                    <div>
                        <nav>
                            <ul class="pagination">

                                @if (Model.CurrentPage != 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link"
                                           asp-action="SetPage"
                                           asp-route-page="@Model.PrevPage()">назад</a>
                                    </li>
                                }
                                <div style="max-width: 360px; overflow-x: hidden; display: flex; flex-direction: row; flex-wrap:  nowrap;">
                                    @for (int pageNumber = Math.Max(1, Model.CurrentPage - 3); pageNumber <= Math.Min(Model.TotalPages, Model.CurrentPage + 3); pageNumber++)
                                    {
                                        @if (Model.CurrentPage == pageNumber)
                                        {
                                            <li class="page-item active">
                                                <a class="page-link" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">
                                                <a class="page-link" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                                            </li>
                                        }
                                    }
                                </div>

                                @if (Model.CurrentPage != Model.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link"
                                           asp-action="SetPage"
                                           asp-route-page="@Model.NextPage()">вперёд</a>
                                    </li>
                                }
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="col-4">
                @if (Model.Latest != null)
                {

                    <h4>Новинка</h4>
                    <div>
                        <h5>@Model.Latest.title</h5>
                        @if (System.String.IsNullOrEmpty(Model.Latest.GetPosterPath()) == false)
                        {
                            <div style="height: 225px;">
                                <img src="@Model.Latest.GetPosterPath()" style="width: 100%; height: 100%;" />
                            </div>
                        }
                        <p style="text-indent: 10px;">@Model.Latest.overview</p>
                    </div>
                }

                <partial name="_WeatherPoster" />

            </div>
        </div>
    </div>


</div>