﻿@addTagHelper *, ASpbLibs.Views.Shared.Components.QR
@{
    ViewData["Title"] = "У вас читательский билет?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>У вас читательский билет?</h2>
    <a asp-controller="Wizzard" asp-action="IHasReaderCard">
        <button class="btn btn-primary">Да</button>
    </a>
    <a asp-controller="Wizzard" asp-action="IHasNotReaderCard">
        <button class="btn btn-primary">Нет</button>
    </a>
  
</div>