﻿@{
    ViewData["Title"] = "Желаем прятного чтения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Желаем прятного чтения</h2>
    <a asp-controller="Wizzard" asp-action="HasReaderCard" id="has-card-reader-anhor"></a>
    <script>
        setTimeout(function () {
            document.getElementById('has-card-reader-anhor').click();
        }, 5000);
    </script>
</div>