﻿@{
    ViewData["Title"] = "Вы можете пройти в читальный зал";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Вы можете пройти в читальный зал</h2>
    <a asp-controller="Wizzard" asp-action="IGoToReaderRoom">
        <button class="btn btn-primary">Согласен</button>
    </a>
    <a asp-controller="Wizzard" asp-action="HasReaderCard">
        <button class="btn btn-primary">Не согласен</button>
    </a>
</div>