﻿<div>
    _WeatherPoster
    <script>
        function getWeatherForecast(longitude, latitude, timestamp) {
            console.log(longitude, latitude, timestamp);
            const req = new XMLHttpRequest();
            req.open('GET', '/Weather/GetWeather?lat=' + latitude + '&lon=' + longitude + '&time=' + timestamp, false);
            req.send();            
            return JSON.parse(req.responseText);
        }
        if (navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((positionResponse) => {
                console.log(positionResponse);
                const response = getWeatherForecast(
                    positionResponse.coords.longitude,
                    positionResponse.coords.latitude,
                    positionResponse.timestamp
                );

                if (response) {
                    //TODO: 
                }

            });
        } else {
            console.log('nogeolocation function');
        }
    </script>
</div>