.box{
  border-style: solid; 
  border-width: -1px; 
}
.box_2{
  border-style: solid; 
  border-width: -2px; 
}
.rbox{
  border-style: solid; 
  border-width: -1px; 
  border-radius: 3px;
}
.rbox_2{
  border-style: solid; 
  border-width: -2px; 
  border-radius: 3px;
}