*:link{
    color: black;
}
*:visited{
    color: black;
}


.front{
  border-color: white;
  background-color: black;
  color: white;
}
.front *:hover{
  
}
.back{
  border-color: black;
  background-color: white;
  color: black;
}
.back *:hover{
  
}
.warn{
  border-color: red;
  background-color: white;
  color: red;    
}