.m_1{
  margin: 5px;
}
.m_2{
  margin: 10px;
}
.m_3{
  margin: 15px;
}
.p_1{
  padding: 5px;
}
.p_2{
  padding: 10px;
}
.p_3{
  padding: 15px;
}
.h_pad{
  padding-left: 10px;
  padding-right: 10px;
}
.h_marg{
  margin-left: 10px;
  margin-right: 10px;
}