*{
  text-align: left;

  margin:       0px;
  padding:      0px;
  position:     relative;
  word-break:   break-all;
  text-align:   left;
  box-sizing:   border-box;
  border-spacing: 1px;
}
summary{
    display: block;

}
html,body{
    position: fixed;
    height:   100%;
    width:    100%;
/*    padding-right: 10px;
    padding-left: 10px;  */
}
details{
    left-margin: 11px;
}
.error{
    background-color: red;
    color: white;
}

.page{
    color: white;
    width: calc( 100% - 20px );
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.label,.button{
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
}
