td{
    vertical-align: middle;
}
ul{    
    margin-left: 10px;
}
input,label,button{
    height: 18px;
    text-align:       center;
    vertical-align:   middle;
}
input{
    text-align: left;    
}