.blank{
    box-sizing: border-box;
    opacity: 0.0;
    border-color: white;
    border-style: solid; 
    border-width: 1px; 
    border-radius: 3px;      
    width: 242px; 
    height: 230px; 
    display: inline-block;  
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
.black *{
    text-align: center;
}
.blank center{
    height: 20px;
}

 
