.cover_image{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}
.contains_image{
    background-image:   url("map.png");
    background-repeat:  no-repeat;
    background-size:    contains;
}
.fullsize_image{ 
    
    background-image:   url("http://localhost:8383/MovieSearchApp_v.2.0/favicon.ico");
    background-repeat:  no-repeat;
    background-size:    100%,100%     
}
.repeat-image{
    background-image:   url("map.png");
    background-repeat:  round;
    background-size:    auto;
}
 

  
 
 

 