/*******************************************************************************
 Табличная верстка, пример:
********************************************************************************
<div class="column box"
     style="display: table; position: relative; width: 555px; height: 555px;">
    <div class="front box"  style="height: 20px; width: 50%;">
        <div class="line box">
            <div class="front box"  style="width: 50;">1</div>
            <div class="box"        style="width: 50%; background-color: red;">2</div>
            <div class="box"        style="width: 50%; background-color: blue;">3</div>
            <div class="front box"  style="width: 50;">4</div>
        </div>        
    </div>
    <div class="box"        style="height: 50%; width: 100%; background-color: red;">2</div>
    <div class="box"        style="height: 50%; width: 100%; background-color: blue;">3</div>
    <div class="front box"  style="height: 20px; width: 50%;">4</div>
</div>
*******************************************************************************/




/*******************************************************************************
 line - относительная ширина внутри контейнера
********************************************************************************
<div class="line box">
    <div class="front box"  style="width: 50;">1</div>
    <div class="box"        style="width: 100%; background-color: red;">2</div>
    <div class="front box"  style="width: 50;">3</div>
</div>
*******************************************************************************/
.line{ 
    display: table-row;
}
.line > *{
    display: table-cell;
}

/*******************************************************************************
 column - относительная высота внутри контейнера
********************************************************************************
<div class="column box"
     style="display: table; position: relative; width: 555px; height: 555px;">
    <div class="front box"  style="height: 20px; width: 50%;">1</div>
    <div class="box"        style="height: 100%; width: 100%; background-color: red;">2</div>
    <div class="front box"  style="height: 20px; width: 50%;">3</div>
</div>
*******************************************************************************/
.column{
    display: table;    
}
.column > *{
    display: table-row;    
}