.scroll{
    overflow: auto;
}
.v_scroll{
    position:   static;    
    overflow-y: auto;
    height:     100%;
    z-index: 0;
}
.h_scroll_hidden{
    word-break:  break-all;
    box-sizing:  content-box;    
    overflow-x:  hidden;
    overflow-y:  hidden;
    white-space: nowrap;
}
.h_scroll{
    word-break:  break-all;
    box-sizing:  content-box;
    overflow-x:  auto;
    overflow-y:  hidden;
    white-space: nowrap;
}
