/** относительные значения **/
.maxheight{
  height: 100%;
}
.maxwidth{ 
  width:    100%; 
}

/** абсолюные значения **/
.w_25{
  width: 25px;
}
.h_18{
    height: 18px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.h_20{
  height: 20px;
}
.h_40{
  height: 40px;
}
.w_75{
  width: 75px;
}
.w_50{
  display: inline-block;
  width: 50px;
}