﻿@model LibsDb.LibsEntities.Holder

@{
    ViewData["Title"] = "Создание нового места выдачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h1>Новое место выдачи</h1>

   
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LibID" class="control-label"></label>
                    <select asp-for="LibID" class="form-control" asp-items="ViewBag.LibID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
