﻿@model LibsDb.LibsEntities.Holder

@{
    ViewData["Title"] = "Удаление места выдачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h1>Удаление места выдачи</h1>

    <h3>Вы дейстительно хотите удалить место выдачи?</h3>
    <div>
       
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lib)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lib.NameFull)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="Index">Вернуться к списку</a>
        </form>
    </div>

</div>