﻿@model LibsDb.LibsEntities.Holder

@{
    ViewData["Title"] = "Сведения о месте выдачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h1>Сведения о месте выдачи</h1>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lib)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lib.NameFull)
            </dd>
        </dl>
    </div>
    <partial name="_Liters" model="@Model.Liters"/>
    <div>        
        <a asp-action="Index">Вернуться к списку</a>
    </div>

</div>