﻿@model IEnumerable<LibsDb.LibsEntities.Holder>

@{
    ViewData["Title"] = "Места выдачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Места выдачи</h1>

    <p>
        <a asp-action="Create">Добавить</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lib)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lib.ID)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Подробно</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
