﻿@model IEnumerable<LibsDb.LibsEntities.Holder>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div>
    <h1>Места выдачи</h1>

    <p>
        <a asp-action="Create" asp-area="CuratorFace" asp-controller="Holders">Добавить</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
              
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>                  
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Подробно</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
