﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ASpbLibs.Areas.CuratorFace.Views.Curator.CuratorHomeViewModel

<div>
    <h2> Сведения о библиотеки </h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Lib.NameShort)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Lib.NameShort)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Lib.Url)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Lib.Url)
        </dd>
    </dl>
    <hr />
    <partial name="_Holders" model="@Model.Lib.Holders" />
</div>


  