﻿ 


<button type="button" class="list-group-item list-group-item-action"
        onclick="@Model.Request("toggleExpanded",null)">
    @Model.GetName()
</button>
<div class="list-group" style="padding-left: 10px;">
    @if (Model.Expanded == true)
    {
        @foreach (var pair in Model.GetChildren())
        {
            <partial name="_TreeNode" model="@pair.Value" />
        }
    }
</div>