﻿@using System.Linq;
@model LibsMVC.Areas.ReaderFace.Views.Liters.LitersViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Литература";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject ASpbLibs.Core.Services.Core.Services.Statistics.DeliveryStatisticsService stats
@inject ApplicationDbContext context
<!-- диалоговое окно -->
<script>
    function openSelectHolderDialog(descriptionId) {
        try {

            console.log('openSelectHolderDialog');
            const div = document.getElementById('liter-description-' + descriptionId);
            div.style.display = 'block';
            document.getElementById('modal-content').appendChild(div);
            $('.bd-example-modal-lg').modal('toggle');
            $('.bd-example-modal-lg').on('hidden.bs.modal', function (e) {
                const container = document.getElementById('container-liter-description-' + descriptionId);
                container.appendChild(div);
                div.style.display = 'none';
            })
        } catch (e) {
            alert(e);
        }

    }
</script>


<div class="card-group">


</div>

<!-- далее сама станица -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Выберите место выдачи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
    </div>
</div>


<!-- выбор литературы -->
<div style="width: 100%;">

    <form asp-action="Search" style="width: 100%;">
        <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: baseline; justify-content: baseline; width: 100%;">
            <input class="form-control" list="inputSearchOptions" type="text"
                   asp-for="SearchQuery"
                   placeholder="Поиск" aria-label="Search" autofocus="true"
                   style="top: 0px; left: 0px; width: 100%;">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">поиск</button>
            <datalist id="inputSearchOptions">
                @foreach (var option in new string[] { })
                {
                    <option *ngFor="let option of options" [value]="@option"> @option </option>
                }
            </datalist>
        </div>
        <!--
        <div class="dropdown" style="width: 100%;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%;">
                <div class="dropdown-item" href="#" style="width: 100%;" onclick="event.preventDefault(); event.stopPropagation();">
                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; ">
                        <div style="justify-self: flex-end; margin-left: auto;">
                            <div class="form-check mb-2">
                                <label class="form-check-label"> Параметры </label>
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" checked>
                                <label class="form-check-label"> по заглавию </label>
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" checked>
                                <label class="form-check-label"> по автору </label>
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" checked>
                                <label class="form-check-label"> по аннотации </label>
                            </div>
                        </div>
                        <div style="justify-self: flex-end; margin-left: auto;">
                            <div class="form-check mb-2">
                                <label class="form-check-label"> Сорировка </label>
                            </div>
                            <div class="form-check mb-2">
                                <select class="custom-select">
                                    <option>по просмотрам</option>
                                    <option>по выдачам</option>
                                </select>

                            </div>
                            <div class="form-check mb-2">
                                <select class="custom-select">
                                    <option>по убыванию</option>
                                    <option>по возрастанию</option>
                                </select>
                            </div>
                        </div>
                        <div style="justify-self: flex-end; margin-left: auto;">
                            <div class="form-check mb-2">
                                <label class="form-check-label"> Постраничная навигация </label>
                            </div>
                            <div class="form-check mb-2">
                                <select class="custom-select">
                                    <option>10 экземпляров на странице</option>
                                    <option>20 экземпляров на странице</option>
                                    <option>30 экземпляров на странице</option>
                                </select>

                            </div>
                        </div>
                        <div style="justify-self: flex-end; margin-left: auto;" align="center">
                            <div class="form-check mb-2">
                                <label class="form-check-label"> Представление </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Список
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    Плитка
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                                <label class="form-check-label" for="exampleRadios3">
                                    Таблица
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        -->
    </form>


    <div class="container" style="width: 100%;">
        <div class="row" style="width: 100%;">
            <div class="col-9" style="overflow-y: auto;">
                <div style="width: 100%;">
                    <ul class="list-group" style="width: 100%;">
                        @if (Model.Available.Count == 0)
                        {
                            <p> Не найдено литературы отвечающей параметрам поиска</p>
                        }
                        else
                        {
                            @foreach (var item in Model.Available)
                            {
                                <li class="list-group-item"
                                    style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;">


                                    <img style="width: 220px; height: 220px;" src="/api/Resource/Use/@item.ImageID" />

                                    <div style="padding: 20px; width: 100%;">
                                        <h3>@item.Title</h3>
                                        <div>
                                            <span class="badge badge-primary badge-pill">
                                                @stats.GetDeliveriesCount(item.ID) выдач
                                            </span>
                                            <span class="badge badge-primary badge-pill">
                                                @stats.IncSelectCount(item) просмотров
                                            </span>
                                            <span class="badge badge-primary badge-pill">
                                                @item.Liters.Where(l => l.Status == 0).Count() экземпляров
                                            </span>
                                        </div>
                                        <p>@item.Overview</p>



                                        <!-- экземпляры -->
                                        <div id="container-liter-description-@item.ID">
                                            <div class="modal-body" id="liter-description-@item.ID" style="display: none;">
                                                @foreach (var liter in item.Liters.Where(l => l.Status == 0))
                                                {
                                                    <div>
                                                        <a asp-area="ReaderFace" asp-controller="Liters" asp-action="AddToOrder" asp-route-id="@liter.ID">
                                                            @context.Holders.Find(liter.HolderID).Location
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <a onclick="openSelectHolderDialog('@item.ID')">
                                            <button class="btn btn-primary"> в корзину </button>
                                        </a>

                                    </div>
                                    <div id="qrcode-@item.ID"></div>
                                    <script type="text/javascript">
                                        var qrcode = new QRCode(document.getElementById("qrcode-@item.ID"), {
                                            text: "@item.GetUrlLocaion()",
                                            width: 75,
                                            height: 75,
                                            colorDark: "#000000",
                                            colorLight: "#ffffff",
                                            correctLevel: QRCode.CorrectLevel.H
                                        });
                                    </script>
                                </li>

                            }
                        }

                    </ul>
                    <div>
                        @if (Model.TotalPages > 0)
                        {

                            <nav>
                                <ul class="pagination">

                                    @if (Model.CurrentPage != 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link"
                                               asp-area="ReaderFace" asp-controller="Liters" asp-action="SetPage"
                                               asp-route-page="@Model.PrevPage()">назад</a>
                                        </li>
                                    }
                                    <div style="max-width: 360px; overflow-x: hidden; display: flex; flex-direction: row; flex-wrap:  nowrap;">
                                        @for (int pageNumber = Math.Max(1, Model.CurrentPage - 3); pageNumber <= Math.Min(Model.TotalPages, Model.CurrentPage + 3); pageNumber++)
                                        {
                                            @if (Model.CurrentPage == pageNumber)
                                            {
                                                <li class="page-item active">
                                                    <a class="page-link" asp-area="ReaderFace" asp-controller="Liters" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" asp-area="ReaderFace" asp-controller="Liters" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                                                </li>
                                            }
                                        }
                                    </div>

                                    @if (Model.CurrentPage != Model.TotalPages)
                                    {
                                        <li class="page-item">
                                            <a class="page-link"
                                               asp-area="ReaderFace" asp-controller="Liters" asp-action="SetPage"
                                               asp-route-page="@Model.NextPage()">вперёд</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
            <div class="col-3">

                <!-- вкладки -->
                <div>
                    <h3>Параметры поиска</h3>
                    <partial name="_Categories" model="@Model.Categories" />

                    <a asp-controller="Liters" asp-area="ReaderFace" asp-action="Update" style="width: 100%;">
                        <button class="btn btn-primary" style="width: 100%;">
                            Выполнить поиск
                        </button>
                    </a>
                </div>

                <div class="card-group" style="margin-top: 30px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <h3>
                                    <i class="material-icons" style="font: 40px;">add_shopping_cart</i>
                                    Корзина заказа
                                </h3>

                            </h5>
                            <p class="card-text">
                                @foreach (var liter in Model.Order)
                                {
                                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;">
                                        <div>@liter.Description.Title</div>
                                        <a asp-area="ReaderFace" asp-controller="Liters" asp-action="RemoveFromOrder" asp-route-id="@liter.ID" style="justify-self: flex-end; margin-left: auto;" class="text-danger">убрать</a>
                                    </div>
                                }
                                @if (Model.Order.Count() > 0)
                                {
                                    <a class="btn btn-primary" asp-area="ReaderFace" asp-controller="Liters" asp-action="Checkout">оформить заказ</a>
                                }
                                else
                                {
                                <p> корзина пуста </p>
                            }
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        в корзине @Model.Order.Count() экземпляров
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>