﻿@model ASpbLibs.Application.Abstraction.SearchView.SearchViewModel<ApplicationDb.Entities.News>

@{
    ViewData["Title"] = "Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div style="width: 100%;">

    <h1 style="width: 100%;">Новости</h1>
    <search href="/Home" ng-init='query="@Model.SearchQuery"' style="width: 100%;"></search>
    <div class="list-group" style="width: 100%;">
        @foreach (var item in Model.Results)
        {
           

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.Title</h5>
                    <small class="text-muted">
                        <date value="@item.Time"></date>
                    </small>
                </div>
                <p class="mb-1">@item.Description</p>
                <small class="text-muted">
                    <a href="@item.Href">@item.Href</a>
                </small>
            </a>
        }
    </div>

    <div class="container" style="width: 100%;">     
        <div class="row">
            <partial name="_Pagination" model="@Model" />
        </div>
    </div>


</div>



