﻿@model LibsDb.LibsEntities.LiterDescription
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Сведения о литературе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 100%;">

    <h2>Сведения о литературе</h2>
    <p> Для регистрации экземпляра приложите книгу c радиометкой с считывающему устройству</p>
    <div>        
        <a asp-area="ComplectatorFace" asp-controller="LiterDescriptions" asp-action="Details" asp-route-id="@Model.ID" id="complectator-liter-description-id"></a>
        <script>
            setInterval(() => {
                const req = new XMLHttpRequest();
                req.open('get', "/ComplectatorFace/LiterDescriptions/GetReaderData/@Model.ID", true);
                req.onreadystatechange = function () {
                    if (req.readyState == 4) {
                        const response = JSON.parse(req.responseText);
                        if (response.status === 'success') {
                            document.getElementById('complectator-liter-description-id').click();
                        } else if (response.status === 'error') {
                            document.getElementById('complectator-liter-description-id').click();
                        }
                    }
                }
                req.send();

            }, 1200);
        </script>
    </div>
    <div style="width: 100%;">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Overview)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Overview)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SelectCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SelectCount)
            </dd>          
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    </div>
    <div>        
        <a asp-action="Index">Вернуться к списку</a>
    </div>
</div>