﻿@model LibsDb.LibsEntities.LiterDescription
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Добавить литературу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 100%;">


    <h2>Добавить литературу</h2>
    <button style="width: 100%;">ok</button>
    <form asp-action="Create" style="width: 100%;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" style="width: 100%;">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" style="width: 100%;" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Overview" class="control-label"></label>
            <textarea asp-for="Overview" class="form-control"></textarea>
            <span asp-validation-for="Overview" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectCount" class="control-label"></label>
            <input asp-for="SelectCount" class="form-control" />
            <span asp-validation-for="SelectCount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="ImageID" id="inputPhotoID">
        </div>

        <div class="form-group">
            <label asp-for="CategoryID" class="control-label"></label>
            <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>

    <div class="form-group">
        <form id="personForm" method="post">

            <script>
                function doUpload() {
                    console.log('doUpload');
                    const allFiles = document.getElementById("inputResource").files;
                    if (allFiles.length == 0) {
                        alert("Не выбрано ни одного файла");
                    } else {
                        console.log('upload begin');
                        var uploadResponse = upload(allFiles.item(0), 'Продукт', 'image/png');
                        console.log('upload end');
                        var response = JSON.parse(uploadResponse);
                        document.getElementById("inputPhotoID").value = response.id;
                        document.getElementById("buttonImageOfPhoto").style.backgroundImage = $"URL(/api/Resource/Use/" + response.id + ")";
                        console.log(uploadResponse);
                    }
                }
                function upload(file, name, mime) {
                    var request = new XMLHttpRequest();
                    request.open('POST', '/api/Resource/Create', false);
                    request.setRequestHeader("Resource-Name", name);
                    request.setRequestHeader("Mime-Type", mime);
                    request.setRequestHeader("Content-Type", "multipart/form-data");
                    request.send(file);
                    return request.responseText;
                }
            </script>
            <button style="width: 220px; height: 220px;"
                    id="buttonImageOfPhoto"
                    onclick="event.preventDefault(); document.getElementById('inputResource').click();">
                @if (Model != null && Model.ImageID != null)
                {
                    <script>
                        document.getElementById('buttonImageOfPhoto').style.backgroundImage = 'URL(/api/Resource/Use/@Model.ImageID)';
                    </script>
                }
                else
                {

                }

            </button>
            <input type="file" id="inputResource" hidden onchange="
                function doUpload() {
                    console.log('doUpload');
                    const allFiles = document.getElementById('inputResource').files;
                    if (allFiles.length == 0) {
                        alert('Не выбрано ни одного файла');
                    } else {
                        console.log('upload begin');
                        var uploadResponse = upload(allFiles.item(0), 'Product', 'image/png');
                        console.log('upload end');
                        var response = JSON.parse(uploadResponse);
                        document.getElementById('inputPhotoID').value = response.id;
                        document.getElementById('buttonImageOfPhoto').style.backgroundImage = 'URL(/api/Resource/Use/' + response.id + ')';
                        console.log(uploadResponse);
                    }
                }
                function upload(file, name, mime) {
                    var request = new XMLHttpRequest();
                    request.open('POST', '/api/Resource/Create', false);
                    request.setRequestHeader('Resource-Name', name);
                    request.setRequestHeader('Mime-Type', mime);
                    request.setRequestHeader('Content-Type', 'multipart/form-data');
                    request.send(file);
                    return request.responseText;
                }
                doUpload(); ">
        </form>

        <div>
            <a asp-action="Index">Вернуться к списку</a>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }







