﻿@model LibsDb.LibsEntities.LiterDescription
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Удаление литературы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 100%;">


    <h2>Удаление литературы</h2>

    <h3>Вы действительно хотите удалить литературу</h3>
    <div style="width: 100%;">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Overview)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Overview)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SelectCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SelectCount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image.Mime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="Index">Вернуть списку</a>
        </form>
    </div>
</div>