﻿@model LibsDb.LibsEntities.LiterDescription
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Сведения о литературе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject LibsMVC.Areas.ComplectatorFace.ComplectatorService complectator
<div style="width: 100%;">
    <h2>Сведения о литературе</h2>
    <div> Кол-во экземпляров @Model.Liters.Where(l=>l.HolderID== complectator.GetHolder().ID).Count()</div>

    <div style="width: 100%;">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Overview)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Overview)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SelectCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SelectCount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image.Mime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Редактирование</a> |
        <a asp-action="Index">Вернуться к списку</a>
    </div>

</div>