﻿@model LibsDb.LibsEntities.LiterDescription
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Редактирование литературы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 100%;">
    <h2>Редактирование литературы</h2>
  

    <hr />
    <div class="row" style="width: 100%;">
        <div class="col-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Overview" class="control-label"></label>
                    <textarea asp-for="Overview" class="form-control"></textarea>
                    <span asp-validation-for="Overview" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectCount" class="control-label"></label>
                    <input asp-for="SelectCount" class="form-control" />
                    <span asp-validation-for="SelectCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageID" class="control-label"></label>
                    <select asp-for="ImageID" class="form-control" asp-items="ViewBag.ImageID"></select>
                    <span asp-validation-for="ImageID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryID" class="control-label"></label>
                    <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>



    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
