﻿@model IEnumerable<LibsDb.LibsEntities.LiterDescription>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Литература";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 100%;">

    <h2>Литература</h2>

    <p>
        <a asp-action="Create">Добавить</a>
    </p>
    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
       
                 
                <th>
                    @Html.DisplayNameFor(model => model.SelectCount)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                     
                    <td>
                        @Html.DisplayFor(modelItem => item.SelectCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-action="Complectation" asp-route-id="@item.ID">Комплектование</a> 
                        <a asp-action="Edit" asp-route-id="@item.ID">Редактирование</a>  
                     
                        <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>