﻿@model IEnumerable<LibsDb.LibsEntities.Holder>

@{
    ViewData["Title"] = "Edit";
}

<h4> Места выдачи </h4>
<table class="table">
    <thead style="h-4">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>

                    <a asp-controller="Holders" asp-action="Details" asp-route-id="@item.ID">Перейти</a>

                </td>
            </tr>
        }
    </tbody>
</table>
