﻿@model IEnumerable<LibsDb.LibsEntities.Liter>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description.Title)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description.Title)
            </td>
           
           
            <td>
              
                @item.Description.Overview
       
            </td>
        </tr>
        }
    </tbody>
</table>
