﻿
@model ASpbLibs.Application.Abstraction.TabsView.TabsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;">
        @foreach (string key in (new List<string>(Model.Nav.Keys)))
        {
            @if (key == ((string)Model.Active))
            {
                <a asp-action="NavigateTo" asp-route-key="@key">
                    <li class="list-group-item d-flex justify-content-between align-items-center active"
                        style="width: 225px; word-break: keep-all;">
                        @key
                    </li>
                </a>
            }
            else
            {
                <a asp-action="NavigateTo" asp-route-key="@key">
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 225px;  word-break: keep-all;">
                        @key
                    </li>
                </a>
            }
        }
    </div>
    <div>
        <partial name="_@Model.Nav[Model.Active].GetType().Name" model="@Model.Nav[Model.Active]"/>
    </div>
</div>
