﻿@model ASpbLibs.Areas.ComplectatorFace.Views.Complectator.ComplectatorViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>


    <div>
        <h4>Выдача литературы</h4>
        <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Holder.Location)
            </dt>
            <dd class="col-10">
            
                @Html.DisplayFor(model => model.Holder.Location)
            </dd>
        </dl>
    </div>
    <div>
        
        <partial name="_TabbedPane" model="Model" />

    </div>

      
</div>