﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a asp-action="CreateStatistics">CreateStatistics</a>
<div id="areaChart">
    <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Year', 'Sales', 'Expenses'],
                    ['2013', 1000, 400],
                    ['2014', 1170, 460],
                    ['2015', 660, 1120],
                    ['2016', 1030, 540]
                ]);

                var options = {
                    title: 'Company Performance',
                    hAxis: { title: 'Year', titleTextStyle: { color: '#333' } },
                    vAxis: { minValue: 0 }
                };

                var chart = new google.visualization.AreaChart(document.getElementById('area-chart-div'));
                chart.draw(data, options);
            }
    </script>
    <div id="area-chart-div" style="width: 100%; height: 500px;"></div>

</div>

<!-- pieChart -->
<div id="pieChart">
    <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Work', 11],
                    ['Eat', 2],
                    ['Commute', 2],
                    ['Watch TV', 2],
                    ['Sleep', 7]
                ]);

                var options = {
                    title: 'My Daily Activities'
                };

                var chart = new google.visualization.PieChart(document.getElementById('pie-chart-div'));

                chart.draw(data, options);
            }
    </script>
    <div id="pie-chart-div" style="width: 900px; height: 500px;"></div>
</div>