﻿@model ASpbLibs.Areas.ReaderFace.Views.DeliveryFacts.ReturnOrderViewModel
 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
 
@{
    ViewData["Title"] = "Возврат литературы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- далее сама страница -->
<div style="width: 100%;">

    <form asp-action="Search" style="width: 100%;">
        <div (submit)="onSearch( query.value )" (keypress)="onKeypress( $event )" style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: baseline; justify-content: baseline; ">
            <input class="form-control" list="inputSearchOptions" type="text"
                   asp-for="SearchQuery"
                   placeholder="Поиск" aria-label="Search" autofocus="true"
                   style="top: 0px; left: 0px; width: 100%;">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">поиск</button>
            <datalist id="inputSearchOptions">
                @foreach (var option in new string[] { })
                {
                    <option *ngFor="let option of options" [value]="@option"> @option </option>
                }
            </datalist>
        </div>
    </form>

    <div class="container" style="width: 100%;">
        <div class="row">
            <div class="col-lg-9" style="overflow-y: auto;">
                <div>
                
                        @if (Model.Available != null)
                        {
                            @foreach (LibsDb.LibsEntities.DeliveryFact fact in Model.Available)
                            {
                                
                                    <ul class="list-group">

                                        <li class="list-group-item"
                                            style="display: flex; flex-direction: row; flex-wrap: nowrap;">


                                            <img style="width: 220px; height: 220px;" src="/api/Resource/Use/@fact.Literature.Description.ImageID" />

                                            <div style="padding: 20px; width: 100%;">
                                                <h3>
                                                    <span class="badge badge-primary badge-pill">1</span>
                                                    @fact.Literature.Description.Title
                                                </h3>
                                                <p>@fact.Literature.Description.Overview</p>

                                                <a asp-area="ReaderFace" asp-controller="DeliveryFacts" asp-action="AddToOrder" asp-route-id="@fact.ID">
                                                    <button class="btn btn-primary"> в корзину </button>
                                                </a>

                                            </div>
                                        </li>



                                    </ul>
                                 

                            }
                        }
                   

                    @if (Model.TotalPages > 1)
                    {

                        <div>
                            <nav>
                                <ul class="pagination">

                                    @if (Model.CurrentPage != 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link"
                                               asp-area="ReaderFace" asp-controller="Liters" asp-action="SetPage"
                                               asp-route-page="@Model.PrevPage()">назад</a>
                                        </li>
                                    }
                                    <div style="max-width: 360px; overflow-x: hidden; display: flex; flex-direction: row; flex-wrap:  nowrap;">
                                        @for (int pageNumber = Math.Max(1, Model.CurrentPage - 3); pageNumber <= Math.Min(Model.TotalPages, Model.CurrentPage + 3); pageNumber++)
                                        {
                                            @if (Model.CurrentPage == pageNumber)
                                            {
                                                <li class="page-item active">
                                                    <a class="page-link" asp-area="ReaderFace" asp-controller="Liters" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" asp-area="ReaderFace" asp-controller="Liters" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                                                </li>
                                            }
                                        }
                                    </div>

                                    @if (Model.CurrentPage != Model.TotalPages)
                                    {
                                        <li class="page-item">
                                            <a class="page-link"
                                               asp-area="ReaderFace" asp-controller="Liters" asp-action="SetPage"
                                               asp-route-page="@Model.NextPage()">вперёд</a>
                                        </li>
                                    }
                                </ul>
                            </nav>

                        </div>
                    }

                </div>
            </div>
            <div class="col-lg-3">
                <h3>Корзина возврата</h3>
                @foreach (var fact in Model.Selected)
                {


                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;">
                        <div>@fact.Literature.Description.Title</div>
                        <a asp-area="ReaderFace" asp-controller="DeliveryFacts" asp-action="RemoveFromOrder" asp-route-id="@fact.ID" style="justify-self: flex-end; margin-left: auto;">убрать</a>
                    </div>
                }

                <div>
                    <a asp-controller="DeliveryFacts"
                       asp-action="Checkout"
                       class="btn btn-primary"
                       style="width: 100%;">
                       оформить возврат  
                    </a>
                </div>

            </div>
        </div>
    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}