﻿
@{
    ViewData["Title"] = "Оформление выдачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LibsMVC.Areas.ReaderFace.Views.DeliveryOrder.DeliveryOrderViewModel
@inject CoreApp.AppAPI.APIAuthorization authorization
@inject ApplicationDbContext db

<script>
    
</script>
<div style="width: 100%;" ng-controller="DeliveryOrderCtrl">

    
    
    <div class="container" style="width: 100%;">
        <div class="row" style="width: 100%;">
            <div class="col-8">
                <h2>Оформление выдачи</h2>
                <hr />
                <h3> Корзина заказа </h3>
                @if (Model.Liters != null && Model.Liters.Order != null && Model.Liters.Order.Count > 0)
                {
                    @foreach (var pair in Model.ByHolders())
                    {
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <h5>@db.Holders.Find(pair.Key).Location</h5>
                            @foreach (var liter in pair.Value)
                            {
                                <div><small class="text-primary"> @liter.Description.Overview</small></div>
                            }
                        </li>
                    }
                }
                else
                {
                    <div>
                        <div> Корзина заказа пуста </div>
                        <div>
                            <a class="btn btn-primary" asp-area="ReaderFace" asp-controller="Liters" asp-action="Index">
                                Добавить литературу в корзину
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-4">
                <h4>Подробности сделки</h4>
                <dl class="dl-horizontal">
                    <dt>Дата выдачи</dt>
                    <dd>@DateTime.Now.Date</dd>
                    <dt>Срок до</dt>
                    <dd>@DateTime.Now.Date.AddMonths(1).Date</dd>
                    <dt>Читатель</dt>
                    <dd>@authorization.Verify().Person.GetFullName()</dd>
                </dl>

                <hr style="width: 100%;" />
                <div class="form-group">
                    <label asp-for="DeliverByCourier"></label>
                    <input asp-for="DeliverByCourier" />
                </div>
                <div class="form-group">
                    @if (Model.DeliverByCourier)
                    {

                    }
                </div>
                <hr style="width: 100%;" />

                <a class="btn btn-primary" asp-area="ReaderFace" asp-controller="DeliveryOrder" asp-action="Checkout">
                    завершить оформление
                </a>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}