﻿@model ApplicationDb.Entities.News

@{
    ViewData["Title"] = "Добавление 'Новости'";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 100%;">

    <h1>Добавление Новости</h1>    
    <hr />
    <form asp-area="AdminFace" asp-controller="News" asp-action="Create">
        <div class="container">
            <div class="row">

                <div class="col-8">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Time" class="form-control" hidden="true" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Href" class="control-label"></label>
                        <input asp-for="Href" class="form-control" />
                        <span asp-validation-for="Href" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="hidden" asp-for="ImageID" id="inputImageID">
                        <script>
                            function doUpload() {
                                console.log('doUpload');
                                const allFiles = document.getElementById("inputResource").files;
                                if (allFiles.length == 0) {
                                    alert("Не выбрано ни одного файла");
                                } else {
                                    console.log('upload begin');
                                    var uploadResponse = upload(allFiles.item(0), 'Продукт', 'image/png');
                                    console.log('upload end');
                                    var response = JSON.parse(uploadResponse);
                                    document.getElementById("inputImageID").value = response.id;
                                    document.getElementById("buttonImageOfPhoto").style.backgroundImage = $"URL(/api/Resource/Use/" + response.id + ")";
                                    console.log(uploadResponse);
                                }
                            }
                            function upload(file, name, mime) {
                                var request = new XMLHttpRequest();
                                request.open('POST', '/api/Resource/Create', false);
                                request.setRequestHeader("Resource-Name", name);
                                request.setRequestHeader("Mime-Type", mime);
                                request.setRequestHeader("Content-Type", "multipart/form-data");
                                request.send(file);
                                return request.responseText;
                            }
                        </script>
                        <button style="width: 220px; height: 220px;"
                                id="buttonImageOfPhoto"
                                onclick="event.preventDefault(); document.getElementById('inputResource').click();">
                            @if (Model.ImageID != null)
                            {
                                <script>
                                    document.getElementById('buttonImageOfPhoto').style.backgroundImage = 'URL(/api/Resource/Use/@Model.ImageID)';
                                </script>
                            }
                            else
                            {
                                <b>Загрузить изображение</b>
                            }

                        </button>
                        <input type="file" id="inputResource" hidden onchange="
                        function doUpload() {
                            console.log('doUpload');
                            const allFiles = document.getElementById('inputResource').files;
                            if (allFiles.length == 0) {
                                alert('Не выбрано ни одного файла');
                            } else {
                                console.log('upload begin');
                                var uploadResponse = upload(allFiles.item(0), 'Product', 'image/png');
                                console.log('upload end');
                                var response = JSON.parse(uploadResponse);
                                document.getElementById('inputImageID').value = response.id;
                                document.getElementById('buttonImageOfPhoto').style.backgroundImage = 'URL(/api/Resource/Use/' + response.id + ')';
                                console.log(uploadResponse);
                            }
                        }
                        function upload(file, name, mime) {
                            var request = new XMLHttpRequest();
                            request.open('POST', '/api/Resource/Create', false);
                            request.setRequestHeader('Resource-Name', name);
                            request.setRequestHeader('Mime-Type', mime);
                            request.setRequestHeader('Content-Type', 'multipart/form-data');
                            request.send(file);
                            return request.responseText;
                        }
                        doUpload(); ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" value="Добавить" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
