﻿@model ApplicationDb.Entities.News

@{
    ViewData["Title"] = "Удаление 'Новости'";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление 'Новости'</h1>


<div>
    <h3>Вы действительно хотите удалить Новость?</h3>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        @if (Model.ImageID != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                <img src="/Resource/Use/@Model.ImageID" />
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Href)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Href)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" asp-area="AdminFace" asp-controller="News" >Вернуться к списку</a>
    </form>
</div>
