﻿@model ASpbLibs.Application.Abstraction.SearchView.SearchViewModel<ApplicationDb.Entities.News>

@{
    ViewData["Title"] = "Админитрирование раздела 'Новости'";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 100%;">

    <h1>Новости</h1>

    <p>
        <a asp-area="AdminFace" asp-controller="News" asp-action="Create">Добавить</a>
    </p>


    <search href="/AdminFace/News" ng-init='query="@Model.SearchQuery"'></search>

    <div class="container">
        <div class="row">
            <div class="col-lg-9" style="overflow-y: auto;">
                <div>
                    <ul class="list-group">
                        @if (Model.Results != null)
                        {

                            @foreach (var item in Model.Results)
                            {
                                <li class="list-group-item" style="padding: 20px; width: 100%; display: flex; flex-direction: column; flex-wrap: nowrap;">

                                    <div style="padding: 18px; width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
                                        <div style="float: right; font-size: 20px; padding: 5px;"><b>@item.Time</b></div>
                                        <p style="font-size: 18px; padding: 5px;">@item.Title</p>
                                    </div>
                                    <div style="align-self: flex-end; margin-left: auto;">
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Редактировать</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <p>Ничего не найдено</p>
                        }

                    </ul>
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <partial name="_Pagination" model="@Model" />
        </div>
    </div>


</div>



