﻿@model LibsDb.LibsEntities.Liter
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Сведения о литературе";
}
@{
    Layout = null;
}

<div>

    <h4> @Html.DisplayFor(model => model.Description.Title)</h4>

    <div>

        <hr />
        <dl class="row">
        
         
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description.Overview)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description.Overview)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description.Year)
            </dd>
     
        
       
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RFID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RFID)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Delete" asp-route-id="@Model.ID">Удалить</a>|
        <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a>
    </div>

</div>