﻿@model LibsDb.LibsEntities.Liter
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Добавление литературы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <link href="~/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <hr />
    <div class="row">
        <div class="col-8">
            <h1>Новая литература</h1>


            <form asp-action="Create">
                <input type="submit" value="Создать" class="btn btn-primary" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description.Title" class="control-label"></label>
                    <input asp-for="Description.Title" class="form-control" />
                    <span asp-validation-for="Description.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description.Overview" class="control-label"></label>
                    <textarea asp-for="Description.Overview" class="form-control"></textarea>
                    <span asp-validation-for="Description.Overview" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description.Year" class="control-label"></label>
                    <input asp-for="Description.Year" class="form-control" />
                    <span asp-validation-for="Description.Year" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-4">
            <form id="personForm" method="post">
                <input type="hidden" asp-for="Description.ImageID" id="inputPhotoID">
                <script>
                    function doUpload() {
                        console.log('doUpload');
                        const allFiles = document.getElementById("inputResource").files;
                        if (allFiles.length == 0) {
                            alert("Не выбрано ни одного файла");
                        } else {
                            console.log('upload begin');
                            var uploadResponse = upload(allFiles.item(0), 'Продукт', 'image/png');
                            console.log('upload end');
                            var response = JSON.parse(uploadResponse);
                            document.getElementById("inputPhotoID").value = response.id;
                            document.getElementById("buttonImageOfPhoto").style.backgroundImage = $"URL(/api/Resource/Use/" + response.id + ")";
                            console.log(uploadResponse);
                        }
                    }
                    function upload(file, name, mime) {
                        var request = new XMLHttpRequest();
                        request.open('POST', '/api/Resource/Create', false);
                        request.setRequestHeader("Resource-Name", name);
                        request.setRequestHeader("Mime-Type", mime);
                        request.setRequestHeader("Content-Type", "multipart/form-data");
                        request.send(file);
                        return request.responseText;
                    }
                </script>
                <button style="width: 220px; height: 220px;"
                        id="buttonImageOfPhoto"
                        onclick="event.preventDefault(); document.getElementById('inputResource').click();">
                    @if (Model.Description != null && Model.Description.ImageID != null)
                    {
                        <script>
                        document.getElementById('buttonImageOfPhoto').style.backgroundImage = 'URL(/api/Resource/Use/@Model.Description.ImageID)';
                        </script>
                    }
                    else
                    {

                    }

                </button>
                <input type="file" id="inputResource" hidden onchange="
                function doUpload() {
                    console.log('doUpload');
                    const allFiles = document.getElementById('inputResource').files;
                    if (allFiles.length == 0) {
                        alert('Не выбрано ни одного файла');
                    } else {
                        console.log('upload begin');
                        var uploadResponse = upload(allFiles.item(0), 'Product', 'image/png');
                        console.log('upload end');
                        var response = JSON.parse(uploadResponse);
                        document.getElementById('inputPhotoID').value = response.id;
                        document.getElementById('buttonImageOfPhoto').style.backgroundImage = 'URL(/api/Resource/Use/' + response.id + ')';
                        console.log(uploadResponse);
                    }
                }
                function upload(file, name, mime) {
                    var request = new XMLHttpRequest();
                    request.open('POST', '/api/Resource/Create', false);
                    request.setRequestHeader('Resource-Name', name);
                    request.setRequestHeader('Mime-Type', mime);
                    request.setRequestHeader('Content-Type', 'multipart/form-data');
                    request.send(file);
                    return request.responseText;
                }
                doUpload(); ">
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
