﻿@model LibsDb.LibsEntities.Liter
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Сведения о литературе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h1>Сведения о литературе</h1>

    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description.Overview)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description.Overview)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description.Year)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Holder)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Holder.ID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description.Image)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description.Image.Mime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RFID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RFID)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a> |
        <a asp-action="Index">Вернуться к списку</a>
    </div>

</div>