﻿@model ASpbLibs.Application.Abstraction.BookView.BookViewModel<LibsDb.LibsEntities.Liter>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Доступная литература";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 100%;">
    <div>
        <a asp-controller="ComplectatorLiters" asp-action="Create">Добавить</a>
    </div>

    <!-- поисковая строка -->
    <div style="width: 100%;">
        <div (submit)="onSearch( query.value )" style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: baseline; justify-content: baseline; ">
            <input class="form-control" list="inputSearchOptions" type="text"
                   placeholder="Поиск" aria-label="Search" autofocus="true" #query
                   style="top: 0px; left: 0px; width: 100%;">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">поиск</button>
            <datalist id="inputSearchOptions">
                @foreach (var option in new string[] { })
                {
                    <option *ngFor="let option of options"> @option </option>
                }
            </datalist>
        </div>

    </div>



    <ul class="list-group" style="width: 100%;">
        
        @foreach (var item in Model.Results)
        {

            <li class="list-group-item"
                style="margin: 20px; display: flex; flex-direction: row; flex-wrap: nowrap;">
                <partial name="_@item.GetType().Name" model="item"></partial>

            </li>
        }
    </ul>

    <!-- постраничная навигация -->
    <nav>
        <ul class="pagination">

            @if (Model.TotalPages > 1)
            {
                @if (Model.CurrentPage != 1)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="SetPage"
                           asp-route-page="@Model.PrevPage()">назад</a>
                    </li>
                }
                <div style="max-width: 360px; overflow-x: hidden; display: flex; flex-direction: row; flex-wrap:  nowrap;">
                    @for (int pageNumber = Math.Max(1, Model.CurrentPage - 3); pageNumber <= Math.Min(Model.TotalPages, Model.CurrentPage + 3); pageNumber++)
                    {
                        @if (Model.CurrentPage == pageNumber)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="SetPage" asp-route-page="@pageNumber"> @pageNumber  </a>
                            </li>
                        }
                    }
                </div>

                @if (Model.CurrentPage != Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="SetPage"
                           asp-route-page="@Model.NextPage()">вперёд</a>
                    </li>
                }
            }
        </ul>
    </nav>

</div>